/* @override https://dev.topoi.hu-berlin.de/zfjs/wp-content/plugins/zfjs/admin_styles/backend_styles.css?ver=3.2.1 */

div.wpc_form_row_header {
	clear: both;
	
	font-weight: bold;
	
	padding: 4px;
	padding-top: 12px;
}


div.wpc_form_spacer {
	clear: both;
	
	padding: 4px;
	padding-top: 12px;
}

label.wpc_label_top {
	clear: right;
	display: block;
	padding: 5px;
	padding-top: 10px;
	opacity: 0.8;
}

div.wpc_form_field {
	float: left;
	
	position: relative;
}

.disabled  {
	display: none;
}

label.wpc_hint {
	display: none;
	position: absolute;
	
	height: 12px;
	margin-top: -18px;
	padding-left: 5px;
	
	height: 12px;
	
	font-size: 12px;
	
	cursor: text;
	
	letter-spacing: 1px;
}

input.wpc_input_text {
	width: 220px;
}

a.button_right {
	margin-left: 20px;
	padding: 2px 8px;
	margin-top: -4px;
	
	float: right;
}

ul.relation_soucre_list {
	border: 1px solid rgba(0,0,0,0.15);
	margin: 0px;
}

div.relation_item_add_box {
	padding: 10px 10px 20px 10px;
	background-color: rgba(0,0,0,0.1);
	
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

h4.relation_heading {
	background-color: rgba(0,0,0,0.1);
	
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	
	margin: 0;
	padding: 10px 0px 6px 0px;
	text-align: center;
	
	font-weight: normal;
}



ul.relation_soucre_list li {
	background-color: rgba(0,0,0,0.02);
	padding: 4px;
	margin: 0px;
}

ul.relation_soucre_list li:nth-child(even) {
	background-color: rgba(0,0,0,0.05);
}

label.show_full {
	display: block;
	opacity: 0.5;
	
	font-size: 11px;
}

input:focus + label.wpc_hint,
input:hover + label.wpc_hint {
	opacity: 0.9;
}

select#the_editor_content_selector {
	position: relative;
	top: -5px;
}

div.wpc_subform {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	
	padding: 10px 20px 10px 20px;
	margin: 10px -10px 0px -10px;
	
	background: rgba(255,255,128,0.04);
}

input[type='checkbox'] {
	margin-top: -2px;
	margin-right: 4px;
}

div.wpc_form_row {
	clear: both;
}


#map_canvas {
	height:300px;
	border:1px solid #999;
	margin-top: 10px;
}
#map_canvas_data {
	margin-left:20px;
	margin-top: 14px;
	margin-right: 20px;
	text-align: right;
}

ul#search-for-location-results {
	margin: 10px 0px;	
	width: 100%;
	
	border: 1px solid rgba(0,0,0,0.15);
}

input#search-for-location {
	width: 100%;
	
	margin-top: 10px;
}

#search-for-location-results li {
	background-color: rgba(0,0,0,0.01);
	padding: 4px;
	margin: 0px;
}

#search-for-location-results li.odd {
	background-color: rgba(0,0,0,0.05);
}

#map_canvas_data_use {
	cursor: pointer;
}