/* @override 
    https://dev.topoi.hu-berlin.de/zfjs/wp-content/plugins/Wordpress-CCK/core/admin_styles/backend_styles.css?ver=3.3-beta1
*/

div.wpc_form_row_header {
    clear: both;
    
    font-weight: bold;
    
    padding: 4px;
    padding-top: 12px;
}


div.wpc_form_spacer {
    clear: both;
    
    padding: 4px;
    padding-top: 12px;
}

label.wpc_label_top {
    clear: right;
    display: block;
    padding: 5px;
    padding-top: 10px;
    opacity: 0.8;
}

div.wpc_form_field {
    float: left;
    
    position: relative;
}

.disabled  {
    display: none;
}

label.wpc_hint {
    display: none;
    position: absolute;
    
    height: 12px;
    margin-top: -18px;
    padding-left: 5px;
    
    height: 12px;
    
    font-size: 12px;
    
    cursor: text;
    
    letter-spacing: 1px;
}

input.wpc_input_text {
    width: 220px;
}

a.button_right {
    margin-left: 20px;
    padding: 2px 8px;
    margin-top: -4px;
    
    float: right;
}

div.relation_item_add_box {
    padding: 10px 10px 20px 10px;
    background-color: rgba(0,0,0,0.1);
    
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

h4.relation_heading {
    background-color: rgba(0,0,0,0.1);
    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
    margin: 0;
    padding: 10px 0px 6px 0px;
    text-align: center;
    
    font-weight: normal;
}


ul#relation_src_list li.selected:before {
    content: "▶";
    padding-right: 4px;
    opacity: 0.5;
    top: 1px;
    position: relative;
}

ul#relation_src_list li.selected {
    margin-left: 0px;
    padding-left: 6px;
    font-weight: bold;
}

div#add_src_box_header {
    margin: 0px -10px;
    padding: 4px;
    background: rgba(0,0,0,0.1);
    
}
div#add_src_box {
    margin: 10px 0px;
    padding: 0px 10px;
    
    background: rgba(255,255,255,0.6);
    border: 1px solid rgba(0,0,0,0.15);
}

div#add_src_box_buttons {
    margin: 10px;
}
input#new_item_title,
input#relation_src_search {
	margin-top: 4px;
	margin-bottom: 0px;
	
}

div.relation_buttons_box {
	text-align: right;
	margin-right: 10px;
}
div.relation_buttons_box > a {
	margin-right: 6px;
	
}

#relation_conected_list div.relations_info img {
	margin-bottom: -4px;
}

div.relations_info {
	padding: 30px;
	opacity: 0.7;
	font-style: italic;
	text-align: center;
}

ul#relation_src_list li {
    background-color: rgba(0,0,0,0.02);
    padding: 4px;
    margin: 0px;
    padding-left: 20px;
}

ul#relation_src_list li:nth-child(even) {
    background-color: rgba(0,0,0,0.05);
}

label.show_full {
    display: block;
    opacity: 0.5;
    
    font-size: 11px;
}

input:focus + label.wpc_hint,
input:hover + label.wpc_hint {
    opacity: 0.9;
}

select#the_editor_content_selector {
    position: relative;
    top: -5px;
}

div.wpc_subform {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    
    padding: 10px 20px 10px 20px;
    margin: 10px -10px 0px -10px;
    
    background: rgba(255,255,128,0.04);
}

input[type='checkbox'] {
    margin-top: -2px;
    margin-right: 4px;
}

div.wpc_form_row {
    clear: both;
}


#map_canvas {
    height:300px;
    border:1px solid #999;
    margin-top: 10px;
}
#map_canvas_data {
    margin-left:20px;
    margin-top: 14px;
    margin-right: 20px;
    text-align: right;
}

ul#search-for-location-results {
    margin: 10px 0px;   
    width: 100%;
    
    border: 1px solid rgba(0,0,0,0.15);
}
#search-for-location-results li {
    background-color: rgba(0,0,0,0.01);
    padding: 4px;
    margin: 0px;
}

#relation_selector {
	float: left;
	margin-right: 4px;
}

#search-for-location-results li.odd {
    background-color: rgba(0,0,0,0.05);
}

#relation_conected_list li a.relation_edit_link {
	visibility: hidden;
}

#relation_conected_list li:hover a.relation_edit_link {
	visibility: visible;
}

#map_canvas_data_use {
    cursor: pointer;
}
ul#relation_src_list,
ul#relation_conected_list {
    margin: 10px 0px;   
    
    height: 186px;
    overflow: scroll;
    
    border: 1px solid rgba(0,0,0,0.15);
}
ul#relation_src_list {
    height: 155px;
}

div#relation_connect_new_metadata_box {
    height: 135px;
    
    margin: 10px 0px;
    padding: 10px;
	
	background: white;
    
    border: 1px solid rgba(0,0,0,0.15);
    
    overflow: scroll;
}
div#relation_edit_connected_metadata_box {
    height: 166px;
    
    margin: 10px 0px;
    padding: 10px;
	
	background: white;
    
    border: 1px solid rgba(0,0,0,0.15);
    
    overflow: scroll;	
}
div#relation_connect_existing_metadata_box {
    height: 166px;
    
    margin: 10px 0px;
    padding: 10px;
	
	background: white;
    
    border: 1px solid rgba(0,0,0,0.15);
    
    overflow: scroll;	
}



label.wpc_label_left {
	font-weight: bold;
	text-align: right;
	width: 100px;
	display: inline-block;
}

ul#relation_conected_list li {
    background-color: rgba(0,0,0,0.01);
    padding: 4px;
    margin: 0px;
}

ul#relation_conected_list li:nth-child(even) {
    background-color: rgba(0,0,0,0.05);
}


div#relation_add_existing_metadata_box {
    margin: 10px 0px;   
    width: 100%;
    
    height: 190px;
    overflow: scroll;
    
    border: 1px solid rgba(0,0,0,0.15);	
}

ul#relation_conected_list li.odd {
    background-color: rgba(0,0,0,0.05);
}

div.relation_nav_bar {
	margin: 4px 0;
	padding: 4px;
	
	height: 16px;
	
}

div#relation_edit_boxes {
	height: 250px;
}

div#relation_connected_box {
	height: 100%;
}

div.relation_nav_bar div {
	float: left;
	margin-right: 10px;
}
div.relation_nav_bar div:last-child {
	font-weight: bold;
}
div.relation_nav_bar div:before {
	content: " 〉";
	
}
