.wpc_form_field_CheckBoxField {
    margin-right: 10px;
    margin-left: 5px;
    display: inline-block;
}

input[type='checkbox'] {
    margin-top: 2px;
    margin-right: 4px;
}

.wpc_input_checkbox + label {
  font-size: 12px;
  vertical-align: bottom;
}
