div.wpc_form_field_DateField {
    margin-right: 10px;
    min-height: 30px;
}

a.wpc_input_date_edit_link {
    padding-top: 4px;
    height: 22px;
    display: inline-block;
}

span.wpc_input_date_edit_container {

}
