.map_canvas {
    height:250px;
    border:1px solid #999;
    margin-top: 10px;
}
.map_canvas_data {
    margin-left:20px;
    margin-top: 14px;
    margin-right: 20px;
    text-align: right;
}

.div-place-search_for_location {
    position: relative;
}

input.search_for_location.search_for_location {
    margin-top: 20px;
    width: 200px;
    margin-left: 0px;
}

ul.search_for_location_results {
    width: 100%;
    z-index: 1;
    margin: 1px;
    margin-top: 11px;

    background-color: rgba(255, 255, 255, 0.6);

    position: absolute;
}
.search_for_location_results li {
    background-color: rgba(0,0,0,0.01);
    padding: 4px;
    margin: 0px;
}
.search_for_location_results li.odd {
    background-color: rgba(0,0,0,0.05);
}

.map_canvas_data_use {
    cursor: pointer;
}
